/* ------------------------------ */
/* Resets */
/* ------------------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --main-bg-color: #070724;
  --font-light: #fff;
  --dark-grey: #38384f;
  --heading-font: 'Antonio', sans-serif;
  --body-font: 'League Spartan', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  background-image: url('../assets/background-stars.svg');
  background-size: cover;
}

#navbar {
  font-family: 'Antonio', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.5em;
  color: var(--font-light);
  border-bottom: 2px solid var(--dark-grey);
}

#burger-icon {
  height: 0.75rem;
  width: 1rem;
}

#mobile-nav-container {
  display: 'block';
}

#mobile-nav-list {
  color: var(--font-light);
  font-family: var(--body-font);
  padding: 1em 1em 0 1em;
}

.mobile-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0 1em 0;
  cursor: pointer;
}

#mobile-nav-item-name {
  font-weight: bold;
  font-size: clamp(11px, 22px, 15px);
}

#mobile-nav-item + #mobile-nav-item {
  border-top: 1px solid var(--dark-grey);
}

#mobile-nav-item-decoration {
  margin-right: 1em;
  border-radius: 50000px;
  height: 15px;
  width: 15px;
}
