/* ------------------------------ */
/* Resets */
/* ------------------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* custom variables */
:root {
  /* color vars */
  --white: #fff;
  --light-grey: #838391;
  --dark-grey: #393950;
  --main-bg-color: #070724;
}

.typography-h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
  line-height: 103px;
}

.typography-h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.4;
}

.typography-h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: +2.6;
}

.typography-h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: +1;
}

.typography-body {
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
}

body {
  background-color: var(--main-bg-color);
  background-image: url('../assets/background-stars.svg');
  background-size: cover;
}

#mobile-nav-container {
  display: block;
  position: absolute;
  height: 100%;
  width: 100vw;
  border: 2px red solid;
  z-index: 10;
  background-color: var(--main-bg-color);
  background-image: url('../assets/background-stars.svg');
  background-size: cover;
}

#mobile-nav-list {
  color: var(--font-light);
  font-family: var(--body-font);
  padding: 1em 1em 0 1em;
}

.mobile-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0 1em 0;
  cursor: pointer;
}

#mobile-nav-item-name {
  font-weight: bold;
  font-size: clamp(11px, 22px, 15px);
}

#mobile-nav-item + #mobile-nav-item {
  border-top: 1px solid var(--dark-grey);
}

#mobile-nav-item-decoration {
  margin-right: 1em;
  border-radius: 50000px;
  height: 15px;
  width: 15px;
}

.planet-image {
  margin: 5em auto;
  max-width: 80%;
  width: 111px;
  height: 111px;
}

.planet-image::after {
  content: url('/assets/Earth/geology-earth.png');
  height: 50px;
  height: 91;
}

.info-button {
  display: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  #mobile-info-menu {
    display: none;
  }

  .planet-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #mobile-nav-container {
    display: none;
  }

  .planet-fact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 90%;
  }

  .planet-fact {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  .planet-text {
  }

  #navbar {
    font-family: 'Antonio', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: var(--breakout-padding);
    color: var(--font-light);
    border-bottom: 2px solid var(--dark-grey);
  }

  .info-button {
    display: block;
    color: var(--font-light);
    font-family: var(--body-font);
    border: 2px solid var(--font-light);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-info-button-wrapper {
    width: 45%;
  }
}
