#navbar {
  font-family: 'Antonio', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-size: 25px;
  padding: 0.2rem 1em;
  color: var(--font-light);
  border-bottom: 2px solid var(--dark-grey);
}

.navbar-title {
  color: var(--white);
  font-family: 'Antonio', sans-serif;
  line-height: 52px;
  letter-spacing: -1.4;
}

.planet-list-item {
  color: white;
  transition: 0.5s ease-in-out;
}

.planet-list-item + .planet-list-item {
  padding-left: 1em;
}

.planet-list-item:hover {
  font-size: 1.25rem;
}

.planet-list {
  cursor: pointer;
  display: none;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  color: #c1c1c8;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: +2.6;
}

#burger-icon {
  height: 0.75rem;
  width: 1rem;
  fill: white;
  stroke: white;
}

@media (min-width: 768px) {
  #burger-icon {
    display: none;
  }

  .navbar-title {
    margin: 0 auto;
    padding: 0.5em 0;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
  }

  .planet-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
  }

  .planet-list-item {
    display: inline;
  }
}

@media (min-width: 992px) {
  #navbar {
    width: 100%;
    max-width: 2000px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
  }

  .planet-list {
    margin-left: auto;
    padding-bottom: 0;
  }

  .navbar-title {
    padding: 0.25em 0;
    margin: 0;
  }
}
