.planet-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  max-width: 80%;
  width: 111px;
  height: 111px;
}

.planet-image {
}

.planet-image-geology {
  position: absolute;
  top: 80%;
  height: 85px;
  width: 75px;
  color: transparent;
}

@media (min-width: 768px) {
  .planet-image {
    margin: 10rem auto;
    width: 184px;
    height: 184px;
  }
  .planet-image-wrapper {
    margin: 10rem auto;
    width: 184px;
    height: 184px;
  }

  .planet-image-geology {
    position: absolute;
    top: 80%;
    height: 105px;
    width: 95px;
  }
}
