#mobile-info-menu {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;
  border-bottom: 1px solid var(--dark-grey);
}

.mobile-info-button {
  color: var(--light-grey);
  padding: 1em;
  border: 4px solid transparent;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: +1px;
}

@media (min-width: 768px) {
  #mobile-info-menu {
    display: none;
  }
}
