.planet-fact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: space-between;
  border: 1px solid var(--dark-grey);
  margin-top: 0.75em;
}

.planet-fact-wrapper {
  margin: 1em 0.5em;
  width: 100%;
  max-width: 500px;
}

.planet-fact-title {
  color: var(--light-grey);
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: +1px;
}

.planet-fact-content {
  color: var(--white);
  font-family: 'Antonio', sans-serif;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -1.4;
}

@media (min-width: 768px) {
  .planet-fact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: 0.5rem;
    margin-top: 2em;
  }

  .planet-fact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 1em;
    justify-content: space-between;
    border: 1px solid var(--dark-grey);
    width: 100%;
    margin-top: 0;
  }
}
